<a href="https://colab.research.google.com/github/NataliaKolesnik/Car_Price_prediction_part2/blob/master/2_CatBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
!pip install catboost

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.6)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.7.3)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.3)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.1.1)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)

In [ ]:
path_data = '/content/drive/MyDrive/SF_project_8/data/'

##Библиотеки

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_percentage_error

from catboost import Pool, CatBoostRegressor

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

SEED = 73

## Загрузка и подготовка данных для обучения

In [ ]:
df_train = pd.read_csv(path_data+'train_for_ML.csv')
df_test = pd.read_csv(path_data+'test_for_ML.csv')

In [ ]:
# Списки с признаками

categorical_features = ['bodyType', 'brand', 'color_littel', 'fuelType_littel', 'model_info',
                        'vehicleTransmission', 'ПТС', 'Привод', ]

numerical_features = ['mileage', 'age_avto', 'engineDisplacement', 'enginePower_log', 'numberOfDoors', 'Владельцы']

target = 'price'
target_log = 'price_log'

In [ ]:
# Соберем датасеты

X = df_train[categorical_features + numerical_features]

X_test = df_test[categorical_features + numerical_features]

Y = df_train[target]
Y_log = df_train[target_log]

In [ ]:
# Стандартизируем числовые данные

scaler = MinMaxScaler()

X[numerical_features] = scaler.fit_transform(X[numerical_features])
X_test[numerical_features] = scaler.fit_transform(X_test[numerical_features])

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3678: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[col] = igetitem(value, i)

In [ ]:
X.describe()

,mileage,age_avto,engineDisplacement,enginePower_log,numberOfDoors,Владельцы
count,6682.00,6682.00,6682.00,6682.00,6682.00,6682.00
mean,0.12,0.21,0.42,0.54,0.76,0.55
std,0.08,0.13,0.16,0.18,0.29,0.42
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.06,0.11,0.30,0.42,0.67,0.00
50%,0.11,0.18,0.42,0.53,0.67,0.50
75%,0.17,0.29,0.45,0.66,1.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00

In [ ]:
X_test.describe()

,mileage,age_avto,engineDisplacement,enginePower_log,numberOfDoors,Владельцы
count,1671.00,1671.00,1671.00,1671.00,1671.00,1671.00
mean,0.12,0.21,0.42,0.44,0.75,0.55
std,0.08,0.14,0.16,0.19,0.30,0.41
min,0.00,0.00,0.00,0.00,0.00,0.00
25%,0.06,0.11,0.30,0.31,0.67,0.00
50%,0.11,0.18,0.41,0.43,0.67,0.50
75%,0.17,0.29,0.45,0.57,1.00,1.00
max,1.00,1.00,1.00,1.00,1.00,1.00

In [ ]:
# Разбиваем на обучающую и валидационную выборки

X_train, X_valid, Ylog_train, Ylog_valid = train_test_split(X, Y_log, test_size=0.25, random_state=SEED, shuffle=True)
X_train_, X_valid_, Y_train, Y_valid = train_test_split(X, Y, test_size=0.25, random_state=SEED, shuffle=True)

In [ ]:
# Готовим pool для catboost

train_pool = Pool(X_train, Y_train, cat_features=categorical_features)
valid_pool = Pool(X_valid, Y_valid, cat_features=categorical_features)
test_pool = Pool(X_test, cat_features=categorical_features)

## Обучение модели

In [ ]:
# создаем модель
model = CatBoostRegressor(
    depth=8, 
    l2_leaf_reg=0.3,
    learning_rate=0.008, #0.03
    iterations=10000, 
    eval_metric='MAPE', 
    custom_metric=['RMSE', 'MAE'],
    loss_function= 'RMSE', #'MAE', 
    random_seed=SEED,
    # grow_policy='Depthwise',
    # score_function='L2'
    )

In [ ]:
# обучаем модель
model.fit(train_pool, 
          eval_set=valid_pool, 
          #logging_level='Silent', 
          verbose_eval=500,
          use_best_model=True,
          plot=False)

0:	learn: 0.9931037	test: 1.0068891	best: 1.0068891 (0)	total: 20.5ms	remaining: 3m 24s
500:	learn: 0.1787162	test: 0.1930234	best: 0.1930234 (500)	total: 9.07s	remaining: 2m 52s
1000:	learn: 0.1389697	test: 0.1599827	best: 0.1599827 (1000)	total: 18.2s	remaining: 2m 43s
1500:	learn: 0.1249105	test: 0.1514843	best: 0.1514843 (1500)	total: 30.1s	remaining: 2m 50s
2000:	learn: 0.1144667	test: 0.1468650	best: 0.1468650 (2000)	total: 39.7s	remaining: 2m 38s
2500:	learn: 0.1059380	test: 0.1436646	best: 0.1436646 (2500)	total: 49.5s	remaining: 2m 28s
3000:	learn: 0.0987554	test: 0.1411525	best: 0.1411525 (3000)	total: 59.7s	remaining: 2m 19s
3500:	learn: 0.0927551	test: 0.1395073	best: 0.1395044 (3499)	total: 1m 9s	remaining: 2m 9s
4000:	learn: 0.0879806	test: 0.1381463	best: 0.1381463 (4000)	total: 1m 19s	remaining: 1m 59s
4500:	learn: 0.0838124	test: 0.1371878	best: 0.1371690 (4485)	total: 1m 29s	remaining: 1m 49s
5000:	learn: 0.0804199	test: 0.1368856	best: 0.1368778 (4994)	total: 1m 39s	remaining: 1m 39s
5500:	learn: 0.0771531	test: 0.1364166	best: 0.1364138 (5498)	total: 1m 49s	remaining: 1m 29s
6000:	learn: 0.0742017	test: 0.1361315	best: 0.1361291 (5999)	total: 1m 59s	remaining: 1m 19s
6500:	learn: 0.0713826	test: 0.1359518	best: 0.1359518 (6500)	total: 2m 11s	remaining: 1m 10s
7000:	learn: 0.0686723	test: 0.1357741	best: 0.1357664 (6994)	total: 2m 21s	remaining: 1m
7500:	learn: 0.0661907	test: 0.1356288	best: 0.1356144 (7446)	total: 2m 30s	remaining: 50.3s
8000:	learn: 0.0638289	test: 0.1355265	best: 0.1355172 (7976)	total: 2m 40s	remaining: 40.2s
8500:	learn: 0.0616818	test: 0.1355126	best: 0.1355114 (8063)	total: 2m 50s	remaining: 30.1s
9000:	learn: 0.0595995	test: 0.1354395	best: 0.1354331 (8987)	total: 3m	remaining: 20.1s
9500:	learn: 0.0577088	test: 0.1354020	best: 0.1353780 (9367)	total: 3m 10s	remaining: 10s
9999:	learn: 0.0557427	test: 0.1353905	best: 0.1353708 (9762)	total: 3m 20s	remaining: 0us

bestTest = 0.1353707766
bestIteration = 9762

Shrink model to first 9763 iterations.

In [ ]:
model.get_feature_importance(prettified=True)

             Feature Id  Importances
0               mileage        21.37
1              age_avto        19.81
2       enginePower_log        16.76
3    engineDisplacement        10.50
4              bodyType         6.68
5            model_info         6.16
6                 brand         5.68
7       fuelType_littel         4.02
8                Привод         2.93
9          color_littel         2.59
10  vehicleTransmission         1.80
11            Владельцы         0.95
12        numberOfDoors         0.55
13                  ПТС         0.20

In [1]:
# model_gp = CatBoostRegressor(
#     iterations=1000, 
#     eval_metric='MAPE', 
#     )

# grid = {
#         'learning_rate': [0.03, 0.01, 0.003, 0.008],
#         'depth': [2, 4, 6, 8],
#         'l2_leaf_reg': [0.2, 0.5, 1, 3],
#         'grow_policy': ['SymmetricTree', 'Depthwise', 'Lossguide'],
#         'score_function': ['Cosine', 'L2', 'NewtonL2', 'NewtonCosine'],
#         }
# model_gp.grid_search(grid, train_pool, verbose=200)

In [ ]:
# Проверка предсказания на вилидационных данных
y_valid_predict = model.predict(valid_pool)
#y_valid_predict = np.exp(y_valid_predict) 
mean_absolute_percentage_error(Y_valid, y_valid_predict)

0.13537077663078892

## Предсказание

In [ ]:
# предсказываем результат 
y_test_predict = model.predict(test_pool)

In [ ]:
y_test_predict

array([ 565778.5005646 , 2509272.33828612,  678959.96100167, ...,
       1527683.56710237, 1019481.07571156, 1051410.09748759])

In [ ]:
#y_test_predict = np.exp(y_test_predict)

In [ ]:
submission = pd.read_csv(path_data+'sample_submission.csv')
submission['price'] = y_test_predict
submission.to_csv(path_data+'sample_submission_catboost.csv', index=False)

In [ ]:
submission

         sell_id      price
0     1099427284  540619.26
1     1096405886 2606521.54
2     1100195294  657704.32
3     1099827282  485396.01
4     1100076198 2254871.95
...          ...        ...
1666  1099414488  878076.05
1667  1099277058 2422482.65
1668  1098773964 1545783.40
1669  1098835932  994154.99
1670  1099834690 1060430.25

[1671 rows x 2 columns]