<a href="https://colab.research.google.com/github/NataliaKolesnik/Car_Price_prediction_part2/blob/master/5_%D0%91%D0%BB%D0%B5%D0%BD%D0%B4%D0%B8%D0%BD%D0%B3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [13]:
import pandas as pd

In [14]:
path_data = '/content/drive/MyDrive/SF_project_8/data/'

In [15]:
sub_nn_t_i = pd.read_csv(path_data+'submit/sample_submission_nn_with_text_img.csv')
sub_automl = pd.read_csv(path_data+'submit/sample_submission_AutoML (2).csv')

In [16]:
submission = pd.read_csv(path_data+'sample_submission.csv')
submission['price'] = (sub_nn_t_i['price'] + sub_automl['price'])/2
submission.to_csv(path_data+'submit/sample_submission_blanding.csv', index=False)

In [17]:
submission

         sell_id        price
0     1099427284   568029.250
1     1096405886  2511465.200
2     1100195294   652550.100
3     1099827282   522238.690
4     1100076198  2972996.750
...          ...          ...
1666  1099414488   953559.655
1667  1099277058  2580106.000
1668  1098773964  1534302.000
1669  1098835932  1112230.600
1670  1099834690  1061781.450

[1671 rows x 2 columns]